.competition-container {
  padding: 20px;
}

.competition-details {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.detail strong {
  text-align: left;
  min-width: 120px; /* Ensure consistent width for labels */
  margin-right: 10px;
  font-weight: bold;
}

.detail span {
  color: rgb(92, 90, 90);
}

.button{
  text-align: right;
}

.results{
  margin: 5px;
}

.message{
  color: red;
  margin: 5px;
}
