  .App1 {
    text-align: center;
  }
  
  .study-programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 80%;
    margin: auto;
  }
  
  .study-program-card {
    background: #61cffb;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
  }
  
  .study-program-name {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    border-bottom: 2px solid #000; /* Adds an underline */
  }
  
  .study-program-link {
    color: black;
    text-decoration: none;
  }
  
  .study-program-link:hover {
    color: white;
  }
  
  .study-program-card p {
    margin: 5px 0;
  }
  
  .button-container {
    text-align: left; /* Aligns button to the left */
    margin-bottom: 20px; /* Adds space below the button */
    width: 80%; /* Same width as the grid */
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .competitions-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .competitions-grid {
      grid-template-columns: 1fr;
    }
  }
  