/* Competition.css */

.App1 {
  text-align: center;
}

.competitions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
  margin: auto;
}

.competition-card {
  background: #61cffb;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.competition-name {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  border-bottom: 2px solid #000; /* Adds an underline */
}

.competition-link {
  color: black;
  text-decoration: none;
}

.competition-name :hover {
  color: white
}
.competition-card p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .competitions-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .competitions-grid {
      grid-template-columns: 1fr;
  }
}
