body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #f2f2f2; /* Add your preferred color */
    border-radius: 10px; /* Add your preferred radius */
    padding: 60px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px; /* Add your preferred radius */
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add your preferred radius */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
